@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

*::selection {
  background-color: #A8FE39;
  color: #000000;
}

.bg-gradient {
  background-color: #000000d6;
  background-image: -webkit-radial-gradient(circle, #a8fe39 0%, #000000 100%);
  background-image: radial-gradient(circle, #a8fe39 0%, #000000 100%);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
}

#shapes {
  width: 87px;
  height: 87px;
  color: #a8fe39;
  background: linear-gradient(currentColor 0 0) left 28.8px top 0,
    linear-gradient(currentColor 0 0) top 28.8px right 0,
    linear-gradient(currentColor 0 0) right 28.8px bottom 0,
    linear-gradient(currentColor 0 0) bottom 28.8px left 0;
  background-size: calc(100%/3) calc(100%/3);
  background-repeat: no-repeat;
  animation: shapes-dqf486 0.75s infinite alternate linear,
    shapes-g0d60l 1.5s infinite;
}

@keyframes shapes-dqf486 {

  90%,
  100% {
    background-size: calc(2*100%/3) calc(100%/3), calc(100%/3) calc(2*100%/3);
  }
}

@keyframes shapes-g0d60l {

  0%,
  49.99% {
    transform: scaleX(1);
  }

  50%,
  100% {
    transform: scaleX(-1);
  }
}
